PORT=3000
RAW_DIR=/home/yzr/Music/RAW
LIBRARY_DIR=/home/yzr/Music/LIBRARY
MAX_FILE_SIZE_MB=2048
MAX_FILES=2000
BEET_BIN=/home/yzr/.venvs/beets/bin/beet
EXIFTOOL_BIN=exiftool
CLEANUP_RAW_AFTER_IMPORT=true
